<h1>New Place</h1>

<%= form_with :model => @place do |form| %>
  <p>
    <%= form.label "name" %>
    <%= form.text_field "name" %>
  </p>
  <!-- So we can transfer state from the previous action to the next -->
  <%= form.hidden_field "company_id" %>
  <%= form.submit %>
<% end %>